.right-tabs:hover{
border:1px solid #292b2c !important;
}
.right-tabs-title{
    font-family: Arial, Helvetica, sans-serif;
}
.active-right-tab{
    background-color:#0275d8;
    color:white;
}
.all-right-tabs{
    float: right;
    position: fixed;
    right: 0; 
    top:300px;
}