body{
    height:100%;

}
li{
    list-style-type: none;
}
.ol-zoom-out:hover{

background-color:#0275d8 !important;
color:white !important;
}
.ol-zoom-out{
height:40px !important;
width:40px !important;
background-color:#212529!important;
color:#fff!important;
border-radius:0.25rem !important;
font-size:30px !important;
text-align:center !important;
vertical-align: text-top !important;

}
.ol-zoom-in{
height:40px !important;
width:40px !important;
background-color:#212529!important;
color:#fff!important;
border-radius:0.25rem !important;
font-size:30px !important;
text-align:center !important;
vertical-align: text-top !important;
}
.ol-zoom-in:hover{

background-color:#0275d8 !important;
color:white !important;
}
.right-tabs:hover{
border:1px solid #292b2c !important;
background-color: #015cac !important;
}
.right-tabs-title{
    font-family: Arial, Helvetica, sans-serif;
}
.active-right-tab{
       background-color:#0275d8 !important;
    color:white !important;
    border: 1px solid #292b2c !important;
}
.all-right-tabs{
    float: right;
    position: fixed;
    right: 0px; 
    top:300px;
}
.responsive_img {
    width: 100%;
    height: auto;
    max-height:90vh;
  }
.my-absolute{
    position: absolute;
}
/*.search-nav{
    display: none;
}
@media screen and (min-width: 992px) {
    .search-nav{
        display:block;
    }
  }
*/ 


/* css for map*/

.map {
	width: 100%;
	height: 100vh;
}
#map {
    background-color:#cecece;
}
.sidenavbutton{
    position: absolute;
    cursor: pointer;
    top: 1px;
}
.mtcss-1{
    margin-top:15px !important;
}

.ol-zoom{
    bottom: 0.5rem;
    top: unset !important;
}